body {
    background-color: whitesmoke;
}

.header {
    padding: 30px;
    text-align: center;
}

/* .header h4 {
    padding: 15px;
} */

a {
    color: black;
}

#alertBox {
    position: absolute;
    right: 3%;
    top: 7%;
    z-index: 1080;
}

